.footer {
  box-sizing: border-box;
  color: #fff;
  padding: 60px 80px;
  font-size: 16px;
  line-height: 20px;
  background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
}

.footer__columns {
  display: flex;
  justify-content: space-between;
}


.footer__column_content_social {
}

.footer__logo {
  height: 39px;
  width: 105px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__list-item:last-child {
  margin: 0;
}

.footer__column-heading {
  margin: 0 0 20px;
  color: #fff;
  font-family: "Inter", "Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__column-link {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  gap: 10px;
}

.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__copyright {
  margin: 108px 0 0;
  color: #fff;
}

.footer {
  color: #000;
  transition: color 0.4s ease;
}

.footer:hover {
  color: #2F80ED;
}